main span{
    transform: rotate(-90deg);
}
main .row + .row img{
    width: 100%;
}
header a{
    font-size: 18px;
line-height: 22px;
text-align: center;

color: #828282;
    text-decoration: none;
}
.container div a:hover{
    color: black;
}
header img{
    height: 80%;
}
.home{
    border-bottom: 1px solid #828282    ;
}
.home{  
    align-items: center;
}
.aaa a{
    border: 2px solid black;
    position: relative;
    padding: 10px 30px;
    margin: 45px 0;
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: 0.5s;
}
.arrow img{
    width: 3%;
}
.aaa a::before{
    position: relative;
    top: -1px;
    left: -1px;
    width: 10px;
    height: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.aaa a::after{
    position: relative;
    top: -1px;
    left: -1px;
    width: 10px;
    height: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.aaa a:hover::before, a:hover::after{
   width: 100%;
   height: 100%;
    transition-delay: 0s;
}
.aaa a:hover{
    border: 2px solid black;
    background: white;
    color: white;
    box-shadow: 0 0 50px black;
    transition-delay: 0.5s;
}
.container .home{
    height: 10vh;
}
.aboutMe{
     background-color: #f6f6f6;
     margin: 10vh 0;
     padding: 10vh 0;
     }
.skills .container>.row{
    height: 70vh;
}
.skills{
    padding-bottom: 10vh;
}
.portfolio iframe{
    height: 70vh;
}
.aaa a{
    border-radius: 10px;
    padding: 5px 5px;
    color: white;
    text-decoration: none;
}
.portfolio p{
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.footer .container .group{
    margin-left: 420px;
}
@media (max-width: 576px) {
    .footer .container .group{
        margin-left: 100px;
        flex-wrap: wrap;
        display: flex;
        width: 50%;
        height: 15%;
    }
    .portfolio .container p{
        font-size: 30px;
    }
    .port{
        margin-top: 20vh;
    }
    .lol{
        flex-direction: column;
    }
    .group .col{
        width: 40%;
    }
    .arrow img{
        width: 10%;
    }
}